<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de seguimiento</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px 40px;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            page-break-inside: auto;

        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
            page-break-inside: auto;

        }
        th {
            background-color: #f4f4f4;
        }

        .header {
            margin-bottom: 20px;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
        }
        
        .container__main-icon img {
            margin-right: 10px;
        }

        .container__main-text {
            text-align: left;
        }

        .container__main-text p {
            margin: 0;
            font-size: 14px;
            color: #666;
        }

        .section {
            margin: 30px 0;
        }

        .section__title {
            padding: 8px 20px !important;
            background: #e6e5e5 !important;
            -webkit-print-color-adjust: exact;
        }

        .section__title h2 {
            margin: 0 !important;
            font-size: 20px !important;
            color: #333 !important;
            -webkit-print-color-adjust: exact;
        }

        .info-container {
            display: flex;
            gap: 40px;
            align-items: center;
            padding: 0 20px;
        }

        .delivered-color{
            color: green;
        }
        
        .transit-color{
            color: #FE7600;
        }
        .failure-color{
            color: red;
        }
        .border-blue{
            border: 1px solid blue;
        }
        .border-red{
            border: 1px solid red;
        }
        @media print {
    table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
        padding-top: 20px; /* Asegura espacio al inicio de la tabla */
    }

    thead {
        display: table-header-group; /* Repite el encabezado en cada página */
    }

    tr {
        page-break-inside: avoid; /* Evita que las filas se dividan */
    }
    tbody:first-of-type tr:first-child {
        padding-top: 20px; /* Forzar espacio en la primera fila de la nueva página */
    }

}

    </style>
</head>
<body>
    <div class="main-container">
        <div class="header" style="border:1px solid red;">
            <div class="container">
                <div class="container__main-icon">
                    <img src="https://res.cloudinary.com/deudksu4e/image/upload/v1730330521/dark-cosmos.png" 
                        width="110" height="90" aria-hidden="true" alt="Cosmos">
                </div>
                <div class="container__main-text">
                    <h1>Reporte de Seguimiento</h1>
                    <p>Envío <%= datasource.id %> | Fecha de generación: <%= datasource.generate_date %></p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="section">
                <div class="section__title" style="padding: 8px 20px !important;background: #e6e5e5 !important">
                    <h2>Detalles del envío</h2>
                </div>
                <div class="info-container">
                    <p class="border-blue" style="color: red;">Contenedor: <b><%= datasource.container_id %></b></p>
                    <p class="border-blue">Fecha inicio: <%= datasource.start_date %></p>
                    <p class="border-blue">Fecha fin: <%= datasource.delivery_date %></p>
                </div>
            </div>
            <div class="section">
                <div class="section__title">
                    <h2>Información de Paquetería</h2>
                </div>
                <div class="info-container">
                    <p>Empresa: <b><%= datasource.shipment_data.company %></b></p>
                    <p>Número de rastreo: <b><%= datasource.shipment_data.tracking_number %></b></p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 20%;">Estatus</th>
                            <th style="text-align: center; width: 40%;">Descripción</th>
                            <th style="text-align: center; width: 20%;">Lugar</th>
                            <th style="text-align: center; width: 20%;">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datasource.shipment_status.forEach(status => { %>
                            <tr>
                                <td>
                                    <p style="<%= status.status_color %>">
                                        <b><%= status.translated_status %></b>
                                    </p>
                                </td>
                                <td><%= status.description %></td>
                                <td><%= status.location %></td>
                                <td><%= status.formatted_timestamp %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="section">
                <div class="section__title">
                    <h2>Registro de rastreo</h2>
                </div>
                <div class="table-container">

                <table>
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 20%;">Ubicación</th>
                            <th style="text-align: center; width: 20%;">Latitud</th>
                            <th style="text-align: center; width: 20%;">Longitud</th>
                            <th style="text-align: center; width: 20%;">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datasource.locations.forEach(location => { %>
                            <tr>
                                <td><%= location.location %></td>
                                <td><%= location.lat %></td>
                                <td><%= location.lng %></td>
                                <td><%= location.formatted_timestamp %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>

</body>
</html>
